body {
    background-color: #EDDFE0;
} 

p {
    margin: 0;
}

.card-img-top {
    height: 12rem;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

